@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 93%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 33 100% 50%;
    --primary-foreground: 60 30% 98%;
    --secondary: 60 30% 95%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 60 30% 95%;
    --muted-foreground: 240 5% 35%;
    --accent: 240 64% 27%;
    --accent-foreground: 60 30% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 85%;
    --input: 60 30% 88%;
    --ring: 33 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 10%;
    --foreground: 60 30% 98%;
    --card: 240 10% 12%;
    --card-foreground: 60 30% 98%;
    --popover: 240 10% 12%;
    --popover-foreground: 60 30% 98%;
    --primary: 33 100% 50%;
    --primary-foreground: 240 5% 15%;
    --secondary: 240 10% 15%;
    --secondary-foreground: 60 30% 98%;
    --muted: 240 10% 15%;
    --muted-foreground: 240 5% 63%;
    --accent: 240 64% 47%;
    --accent-foreground: 60 30% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 33 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
